<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 mb-0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>

    <span class="skyChronicles">© 2024 Sky Chronicles, Inc</span>

    <div class="ms-auto">
        <a class="aboutUs btn btn-outline-light me-3" th:href="@{/aboutUs}"
           th:text="#{footer.button.aboutUs}"></a>
    </div>
    <div>
        <h6 class="mb-auto col-md-7" th:text="#{footer.label.contacts} + ':'"></h6>
        <a href="mailto:danial.rehman36@gmail.com" class="social-media me-3" target="_blank"
           style="color: #ffffff;">danial.rehman36@gmail.com</a>
        <a href="https://www.linkedin.com/in/danial-rekhman" class="social-media me-3" target="_blank"
           style="color: #ffffff;">LinkedIn</a>
        <a href="https://www.github.com/nocturnalsorrow" class="social-media me-3" target="_blank"
           style="color: #ffffff;">GitHub</a>
        <a href="https://www.facebook.com/danial.rehman.37/" class="social-media me-3" target="_blank"
           style="color: #ffffff;">Facebook</a>
        <a href="https://www.instagram.com/nocturnalsorrow/" class="social-media me-3" target="_blank"
           style="color: #ffffff;">Instagram</a>
    </div>
</footer>






