<header class="p-3" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link px-2 text-white">
                        <img th:src="@{/img/logo.png}" alt="logo" width="150" height="98">
                    </a>
                </li>
            </ul>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item dropdown">
                    <a class="category dropdown-toggle btn btn-outline-light me-2" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       th:text="#{header.label.category}"></a>
                    <ul class="dropdown-menu fade" aria-labelledby="navbarDropdown">
                        <li th:each="category : ${categories}">
                            <a class="dropdown-item" th:href="@{'/category/' + ${category.categoryId}}"
                               th:class="${category.categoryId == selectedCategoryId} ? 'active' : ''"
                               style="text-decoration: none;">
                                <span th:text="${category.name}" style="font-weight: bold; color: black;"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
                    <a th:href="@{/profile}" id="profile" class="profile btn btn-outline-light me-2"
                       th:text="#{header.label.profile}"></a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/articles}" class="editArticles btn btn-outline-light me-2"
                       th:text="#{header.label.editArticles}"></a>
                </li>
            </ul>

            <form th:action="@{/search}" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <div class="input-group">
                    <input type="text" class="searchInput form-control" name="keyword"
                           th:placeholder="'Type article title...'" aria-label="Search"
                           style="background-color: #ffffff">
                    <button class="search btn btn-outline-light" type="submit" th:text="#{header.button.search}"></button>
                </div>
            </form>

            <div sec:authorize="!isAuthenticated()" class="me-2">
                <button type="button" class="login btn me-2"
                        th:onclick="|window.location.href='@{/login}'|" th:text="#{header.button.login}">
                </button>
                <button type="button" class="sign-in btn me-2"
                        th:onclick="|window.location.href='@{/signUp}'|" th:text="#{header.button.signUp}">
                </button>
            </div>

            <div sec:authorize="isAuthenticated()" class="me-2">
                <form th:action="@{/logout}" method="post">
                    <button class="logout btn btn-outline-light me-2" type="submit" th:text="#{header.button.logout}"/>
                </form>
            </div>

            <!--            &lt;!&ndash; Language switch buttons with custom styles &ndash;&gt;-->
            <!--            <div class="btn-group me-2">-->
            <!--                <div th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">-->
            <!--                    <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', 'uk').toUriString()}"-->
            <!--                       class="btn btn-outline-light me-2 btn-sm" aria-current="page" th:text="UA">🇺🇦 Ukrainian</a>-->
            <!--                </div>-->
            <!--                <div th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">-->
            <!--                    <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', 'en').toUriString()}"-->
            <!--                       class="btn btn-outline-light me-2 btn-sm" th:text="EN">🇺🇸 English</a>-->
            <!--                </div>-->
            <!--                <div th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">-->
            <!--                    <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', 'ru').toUriString()}"-->
            <!--                       class="btn btn-outline-light me-2 btn-sm" th:text="RU">🇷🇺 Russian</a>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
</header>


