<recentArticles>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-0">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title m-0">Recent Articles</h5>
                    </div>
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <th:block th:each="article, iterStat : ${recentArticles.subList(0, 4)}">
                                <div class="col">
                                    <div class="card h-100 border-0">
                                        <a th:href="@{/article/{articleId} (articleId=${article.articleId})}" style="text-decoration: none; color: inherit;">
                                            <img th:if="${article.images.size() > 0}"
                                                 th:src="@{/{articleId}/image/{imageId}(articleId=${article.articleId}, imageId=${article.images[0].id})}"
                                                 alt="Article Cover Image" class="card-img-top img-fluid rounded" style="width: 100%; height: 115px; object-fit: cover;">
                                            <div class="card-body">
                                                <h5 class="card-title mb-0" th:text="${article.title}" style="color: inherit;"></h5>
                                                <p class="card-text"><small class="text-muted" th:text="${article.publicationDate}" style="color: inherit;"></small></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</recentArticles>








