body {
    margin: 0;
    padding: 0;
    background-image: url("https://wallpapersmug.com/download/1920x1080/dd8f3f/aircraft-landing-sunset.jpg");
    background-size: cover;
    background-position: center;
    font-family: Nunito, sans-serif;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-start;
}

.responsive-container-block.bigContainer {
    padding: 10px 30px;
    background-image: none; /* Убираем задний фон, так как он уже установлен для body */
}

.responsive-container-block.Container {
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
}

.text-blk {
    margin: 0;
    padding: 0;
    line-height: 22px;
}

.text-blk.heading {
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 20px;
}

.text-blk.subHeading {
    text-align: center;
    font-size: 14px;
    margin: 0 0 30px;
}

.social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.social-icon {
    margin: 0 20px;
}

.socialIcon {
    width: 25px;
    height: 25px;
}

.social-icon:hover {
    cursor: pointer;
}

