.carousel-cell img {
    display: block;
}

.carousel {
    position: relative; /* Добавляем относительное позиционирование */
}

.carousel-control-prev {
    left: -40px; /* Изменяем значение left для центрирования влево */
}

.carousel-control-next {
    right: 240px; /* Изменяем значение right для сдвига влево */
}

.main-content {
    margin-right: 20px; /* Отступ справа для разделения статьи и блока "recent articles" */
}

.col-lg-8 {
    padding-right: 0; /* Внутренний отступ справа равен 0 */
}