body {
    /*background-image: url("https://www.hdwallpapers.in/download/grey_world_map_background_hd_gray-1920x1080.jpg");*/
    background-color: #191919;
}

h4 {
    color: #ffffff;
    text-align: center;
    font-weight: bold
}

label {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-size: 14px;
}

.form-group {

    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control-file::-webkit-file-upload-button {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 0;
}

.form-control-file::-webkit-file-upload-button:hover  {
    color: #000000;
    background-color: white;
}

.submit {
    color: #000000;
    background-color: #cb98ff;
    border: 1px solid #000000;
    border-radius: 0;
    font-weight: bolder;
}

.submit:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}