header {
    background-image: url('https://wallpapercave.com/wp/wp3761426.jpg');
    /*background-color: #00062f; */
    background-size: cover;
    background-position: center;
}

.btn-outline-light:hover,
.logo:hover,
.category:hover,
.sign-in:hover,
.profile:hover,
.edit-articles:hover {
    background-color: #dde2ff;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.dropdown-menu.fade {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    z-index: 1000;
    background-color: #dde2ff; /* цвет фона выпадающего списка */
    border: 1px solid #e6e6e6; /* граница выпадающего списка */
    border-radius: 4px; /* скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тень */
}

.dropdown-menu.fade.show {
    display: block;
    opacity: 1;
}

.dropdown-menu.fade li {
    padding: 10px 15px;
}

.dropdown-menu.fade li:hover {
    background-color: rgba(192, 200, 239, 0.4); /* цвет фона при наведении на элемент */
}