header {
    /*background-image: url('https://wallpapercave.com/wp/wp3761426.jpg');*/
    background-color: #000000;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #ffffff;
}

.btn-outline-light:hover,
.logo:hover,
.category:hover,
.login:hover,
.sign-in:hover,
.profile:hover,
.edit-articles:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.category {
    border: 1px solid #ffffff;
    border-radius: 0;
    font-weight: bolder;
}

.profile {
    border: 1px solid #ffffff;
    border-radius: 0;
    font-weight: bolder;
}

.editArticles {
    border: 1px solid #ffffff;
    border-radius: 0;
    font-weight: bolder;
}

.searchInput {
    border: 1px solid #ffffff;
    border-radius: 0;
}

.search {
    border: 1px solid #ffffff;
    border-radius: 0;
    font-weight: bolder;
}

.login {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
    font-weight: bolder;
}

.sign-in {
    color: #000000;
    /*background-color: #b68f3e;*/
    background-color: #e6af51;
    border: 1px solid #000000;
    border-radius: 0;
    font-weight: bolder;
}

.logout {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
    font-weight: bolder;
}

.dropdown-menu.fade {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    z-index: 1000;

    border: 1px solid #ffffff;
    border-radius: 0; /* скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тень */
}

.dropdown-menu.fade.show {
    display: block;
    opacity: 1;
}

.dropdown-menu.fade li {
    padding: 10px 15px;
}

.dropdown-menu.fade li:hover {
    background-color: rgba(186, 186, 186, 0.38); /* цвет фона при наведении на элемент */
}