body {
    background-color: #191919;
}

.card {
    background-color: #323232;
}

h3 {
    color: #ffffff
}

label {
    color: #ffffff
}

.card {
    border: solid 1px #ffffff;
    box-shadow: 0 3px 6px rgba(239, 239, 239, 0.49);
}

.card-body {
    border-top: solid 1px #ffffff;
}

@keyframes login-animation {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.col-md-6 {
    animation: login-animation 0.5s ease-out;
}

.btn-primary {
    transition: transform 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px;
}