body {
    background-color: #191919;
}

.card {
    border-radius: 0;
    background-color: #323232;
    border: solid 1px #ffffff;
}

h3 {
    color: #ffffff
}

label {
    font-weight: bolder;
    color: #ffffff
}

.card-header {
    text-align: center;
}

.card-body {
    border-top: solid 1px #ffffff;
}

@keyframes login-animation {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.col-md-6 {
    animation: login-animation 0.5s ease-out;
}

.submit {
    color: #000000;
    background-color: #cb98ff;
    border: 1px solid #000000;
    border-radius: 0;
    font-weight: bolder;
}

.submit:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.dontHaveAccount {
    color: white;
}

.signUp {
    color: #cb98ff;
    text-decoration: none;
}

 .signUp:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px;
}