body {
    background-color: #191919;
}

span {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

.modal-content {
    background-color: #323232;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px;
}