.recent-article-card .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.recent-article-card {
    background-color: #191919;
    border: 1px solid #ffffff;
    border-radius: 0;
}

.card-header {
    color: #ffffff;
    /*background-image: url('https://wallpapercave.com/wp/wp3761426.jpg');*/
    /*background-color: #323232;*/
    background-position: center;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
}

.recentArticleLabel {
    font-weight: bold;
}

.card-title {
    font-weight: bold;
    color: #ffffff;

}

.card-text small {
    font-size: 12px;
    color: #b6b6b6;
}
