body {
    /*background-image: url("https://www.hdwallpapers.in/download/grey_world_map_background_hd_gray-1920x1080.jpg");*/
    background-color: #191919;
}

h4 {
    color: #ffffff;
    text-align: center;
    font-weight: bold
}

label {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-size: 14px;
}

.img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 0;
    font-weight: bolder;
}

.submit:hover {
    color: #000000;
    background-color: white;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}