<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{articles.page.title}"></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/articles.css}"/>
</head>
<body>

<header th:replace="~{/fragments/header :: header}"></header>

<div class="container mt-4">
    <div class="row align-items-center">
        <div class="text-end">
            <button type="button" class="btn btn-success form-group mt-2">
                <a th:href="@{/article}" style="text-decoration: none;">
                    <i class="fas fa-plus text-white"></i>
                    <strong><span class="text-white" th:text="#{articles.label.newArticle}"></span></strong>
                </a>
            </button>
        </div>
        <div class="col-md-6">
            <h3 th:text="#{articles.label.articlesToEdit}"></h3>
        </div>
    </div>
    <div class="list-group">
        <th:block th:each="article:${articles}">
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div th:if="${article.images.size() > 0}">
                            <a th:href="@{/article/update/{articleId} (articleId=${article.articleId})}">
                                <img th:src="@{/{articleId}/image/{imageId}(articleId=${article.articleId}, imageId=${article.images[0].id})}"
                                     alt="Article Cover Image" class="img-fluid article-image">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <a th:href="@{/article/update/{articleId}(articleId=${article.articleId})}"
                           th:text="${article.title}" class="article-title"></a>
                        <button type="button" class="btn btn-danger float-end delete-btn"
                                th:attr="data-article-id=${article.articleId}">
                            <span class="text-white" th:text="#{articles.label.delete}"></span>
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <!-- Pagination -->
    <div th:if="${articles.totalPages > 1}" class="justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:class="${articles.first} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{'/articles' + '?size=' + ${articles.size} + '&page=1'}">&laquo;&laquo;</a>
                </li>
                <li th:each="pageNumber : ${pageNumbers}"
                    th:class="${pageNumber == articles.number + 1} ? 'page-item active' : 'page-item'">
                    <a class="page-link"
                       th:href="@{'/articles' +'?size=' + ${articles.size} + '&page=' + ${pageNumber} }"
                       th:text="${pageNumber}"></a>
                </li>
                <li th:class="${articles.last} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{'/articles' + '?size=' + ${articles.size} + '&page=' + ${articles.totalPages} }">&raquo;&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{articles.label.confirmation}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="#{articles.label.sureToDelete}"></div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="delete btn"
                        th:text="#{articles.button.delete}"></button>
                <button type="button" class="cancel btn" data-bs-dismiss="modal"
                        th:text="#{articles.button.cancel}"></button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script src="/js/articleDelete.js"></script>
</body>
</html>

