<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/article.css}"/>
    <style>
        .carousel-cell img {
            display: block;
        }

        .carousel {
            position: relative; /* Добавляем относительное позиционирование */
        }

        .carousel-control-prev {
            left: -40px; /* Изменяем значение left для центрирования влево */
        }

        .carousel-control-next {
            right: 240px; /* Изменяем значение right для сдвига влево */
        }
    </style>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="main-content">
                <div class="card">
                    <div class="card-body">
                        <div th:if="${article != null}">
                            <h1 class="card-title" th:utext="${article.title}"></h1>
                            <div class="carousel mb-3">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img th:src="@{/{articleId}/image/{imageId}(articleId=${article.articleId}, imageId=${article.images[0].id})}"
                                             alt="First slide" style="max-height: 840px; max-width: 540px">
                                    </div>
                                    <div th:each="image, iterStat : ${article.images}" th:if="${iterStat.index} > 0"
                                         class="carousel-item">
                                        <img th:src="@{/{articleId}/image/{imageId}(articleId=${article.articleId}, imageId=${image.id})}"
                                             alt="Slide" style="max-height: 840px; max-width: 540px">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target=".carousel"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target=".carousel"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <p class="card-content" th:utext="${article.content}"></p>
                            <p class="card-content" th:utext="${article.publicationDate}"></p>
                        </div>
                        <div th:if="${article == null}">
                            <h1>Error 404</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <recentArticles th:replace="~{/fragments/recentArticles :: recentArticles}"></recentArticles>
        </div>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script>
    // JavaScript for carousel control
    document.addEventListener("DOMContentLoaded", function () {
        const carouselItems = document.querySelectorAll('.carousel-item');
        const prevButton = document.querySelector('.carousel-control-prev');
        const nextButton = document.querySelector('.carousel-control-next');
        let currentIndex = 0;
        // Show initial slide
        showSlide(currentIndex);
        // Event listeners for prev and next buttons
        prevButton.addEventListener('click', function () {
            currentIndex = (currentIndex === 0) ? carouselItems.length - 1 : currentIndex - 1;
            showSlide(currentIndex);
        });
        nextButton.addEventListener('click', function () {
            currentIndex = (currentIndex === carouselItems.length - 1) ? 0 : currentIndex + 1;
            showSlide(currentIndex);
        });

        // Function to show slide at given index
        function showSlide(index) {
            carouselItems.forEach((item, i) => {
                if (i === index) {
                    item.classList.add('active');
                } else {
                    item.classList.remove('active');
                }
            });
        }
    });
</script>
</body>
</html>