<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles to edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/articlesStyles.css}"/>
</head>
<body>

<header th:replace="~{/fragments/header :: header}"></header>

<div class="container mt-4">
    <h3>Articles to edit</h3>
    <div class="list-group">
        <th:block th:each="article:${articles}">
            <div class="list-group-item list-group-item-action">
                <a th:href="@{/article/update/{articleId} (articleId=${article.articleId})}"
                   th:text="${article.title}"></a>
                <button type="button" class="btn btn-danger float-end">
                    <a th:href="@{/article/delete/{articleId} (articleId=${article.articleId})}">
                        <span class="text-white">Delete</span>
                    </a>
                </button>
            </div>
        </th:block>
    </div>
    <button type="button" class="btn btn-success btn-lg form-group mt-2">
        <a th:href="@{/article}" style="text-decoration: none; color: inherit;">
            <span class="text-white">Add</span>
        </a>
    </button>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

</body>
</html>