<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{error.page.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
</head>
<body>

<header th:replace="~{/fragments/header :: header}"></header>

<h2 th:text="#{error.label.errorMessage}"></h2>
<div class="center-image">
    <img src="https://i.gifer.com/origin/6a/6a30cf49d4dc2db0682292febd438987_w200.gif" alt="support">
</div>
<footer th:replace="~{/fragments/footer :: footer}"></footer>

</body>
</html>