<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchResults.css}"/>
</head>
<body>

<header th:replace="~{/fragments/header :: header}"></header>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <h4>Search results:</h4>
            <div class="row row-cols-1 row-cols-md-4">


                <div th:if="${searchResults.isEmpty()}" class="no-results">
                    <h4>No results found.</h4>
                </div>

                <div th:unless="${searchResults.isEmpty()}">

                    <th:block th:each="article : ${searchResults}">
                        <div class="col mb-4">
                            <a th:href="@{/article/{articleId}(articleId=${article.articleId})}"
                               class="list-group-item list-group-item-action">
                                <div class="d-flex flex-column justify-content-between">
                                    <img th:if="${article.images.size() > 0}"
                                         th:src="@{/{articleId}/image/{imageId}(articleId=${article.articleId}, imageId=${article.images[0].id})}"
                                         alt="Article Cover Image" class="img-fluid rounded">
                                    <h5 class="mb-1" style="font-weight: bold" th:text="${article.title}"></h5>
                                    <small th:text="${article.publicationDate}"></small>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <!-- Recent Articles -->
        <div class="col-lg-4">
            <recentArticles th:replace="~{/fragments/recentArticles :: recentArticles}"></recentArticles>
        </div>
    </div>
</div>


<footer th:replace="~{/fragments/footer :: footer}"></footer>

</body>
</html>