<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{profile.page.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>
</head>
<body>

<header th:replace="~{/fragments/header :: header}"></header>

<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <img th:src="'data:image/jpeg;base64,' + ${user.profileImage}"
                 alt="Profile Image"
                 class="rounded-circle shadow"
                 style="width: 200px; height: 200px; object-fit: cover;">
        </div>

        <div class="col-md-8">
            <div class="d-flex flex-column">
                <p>
                    <strong><span th:text="#{profile.label.username}"></span>: </strong>
                    <span th:text="${user.username}"></span>
                </p>
                <p>
                    <strong><span th:text="#{profile.label.email}"></span>: </strong>
                    <span th:text="${user.email}"></span>
                </p>
            </div>
            <button type="button" class="edit btn form-group mt-2" data-bs-toggle="modal"
                    data-bs-target="#profileEditModal" th:text="#{profile.label.edit}">
            </button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade mt-5" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{profile.label.editYourProfile}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/profile/edit}" th:method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label><strong><span th:text="#{profile.label.username} "></span></strong></label>
                            <input name="username" type="text" th:field="${user.username}" th:value="${user.username}"
                                   class="form-control" pattern="[A-Z][a-z]*(([,.] |[ '-])[A-Za-z][a-z]*)*(\.?)"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <label><strong><span th:text="#{profile.label.password} "></span></strong></label>
                            <input name="password" type="password" required="required" th:field="${user.password}"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label><strong><span th:text="#{profile.label.profileImage} "></span></strong></label>
                            <input name="imageFile" type="file" class="form-control" accept="image/*"/>
                        </div>
                        <div class="form-group mt-2">
                            <button type="submit" class="submit btn mt-3" th:text="#{profile.button.save}"></button>
                            <button type="button" class="close btn float-end mt-3" data-bs-dismiss="modal" th:text="#{profile.button.close}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>